<div aria-labelledby="service-name-duration">
    <h6>{{svc.description}}</h6>
    <div class="d-flex">
    	<p>{{svc.duration}} Minutes</p>
   		<button class="btn btn-primary ml-auto" onclick={{action setActive svc}}>Select</button>
    </div>
</div>
{{yield}}